
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="2.css">
    <title>GOAL</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/templatemo-chain-app-dev.css">
    <!-- ***** АНИМАЦИЯ ОТКРЫТИЯ СТРАНИЦЫ *****  -->
    <!-- <link rel="stylesheet" href="assets/css/animated.css">    
    <link rel="stylesheet" href="assets/css/owl.css"> -->
    
  </head>

<body>

<!-- ***** Запуск предварительной загрузки ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
<!-- ***** Конец предварительной загрузки ***** -->

 <!-- ***** Начало области заголовка ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index1.html" class="logo">
              <img src="assets/images/logo.png" alt="Chain App Dev">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="tasks.html">Задания</a></li>
              <li class="scroll-to-section"><a href="statistics.html">Статистика</a></li>
              <!-- <li class="scroll-to-section"><a href="history.html">История</a></li> -->
              <li class="scroll-to-section"><a href="market.html">Маркет</a></li>
              <li class="scroll-to-section"><a href="history.html">G</a></li>
              <li class="scroll-to-section"><a href="#pricing">Уведомления</a></li>

              <li class="nav-item nav-item-dropdown">
                <a class="dropdown-trigger"
               
                href="#">   <img src="assets/images/1.png" class="rounded-circle"
                width="47"
                height="47"
                style="object-fit: cover;"/></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-menu-item">
                    <a href="#">Профиль</a>
                  </li>
                  <li class="dropdown-menu-item">
                    <a href="#">Настройки</a>
                  </li>
                  <li class="dropdown-menu-item">
                    <a href="#">Выйти</a>
                  </li>
                </ul>
              </li>
            </div>
          </div>
         </div>
  </header>
  <!-- ***** Header Area End ***** -->
  
 

  <div id="pricing" class="pricing-tables">
    <div class="container">
      <div class="row">
     
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
          
            <h4>Меняй<em> Goal-коины</em>. На знания и подарки.</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
            <p>GOALМаркет: твой эксклюзивный внутренний магазин! Обменивай голкоины на образовательные курсы и фирменный мерч. Получай новые знания и демонстрируй лояльность!</p>
          </div>
        </div>

        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>КУРСЫ</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
            <p>Наши курсы – это концентрированные знания от экспертов, направленные на развитие твоих навыков и карьерный рост. Освой востребованные компетенции, повышай свою эффективность и достигай новых вершин! </p>
          </div>
        </div>

        <div class="col-lg-4"
        style=" padding-top: 12px; padding-bottom: 12px;">
          <div class="pricing-item-pro">
            <span class="price">250 G</span>
            <h4>“название курса”</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <p>описание</p>
              <li>1 приемущества</li>
              <li>2 время прохождения</li>
              <li>3 ...</li>
            </ul>
            <div class="border-button">
              <a href="#">Приобрести</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4"
        style=" padding-top: 12px; padding-bottom: 12px;">
          <div class="pricing-item-pro">
            <span class="price">500 G</span>
            <h4>“название курса”</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <p>описание</p>
              <li>1 приемущества</li>
              <li>2 время прохождения</li>
              <li>3 ...</li>
            </ul>
            <div class="border-button">
              <a href="#">Приобрести</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4"
        style=" padding-top: 12px; padding-bottom: 12px;">
          <div class="pricing-item-pro">
            <span class="price">800 G</span>
            <h4>“название курса”</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <p>описание</p>
              <li>1 приемущества</li>
              <li>2 время прохождения</li>
              <li>3 ...</li>
            </ul>
            <div class="border-button">
              <a href="#">Приобрести</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4"
        style=" padding-top: 12px; padding-bottom: 12px;">
          <div class="pricing-item-pro">
            <span class="price">1000 G</span>
            <h4>“название курса”</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <p>описание</p>
              <li>1 приемущества</li>
              <li>2 время прохождения</li>
              <li>3 ...</li>
            </ul>
            <div class="border-button">
              <a href="#">Приобрести</a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>МЕРЧ</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
            <p>Фирменный мерч - это стильный способ выразить свою причастность к компании и укрепить командный дух. Качественные материалы, узнаваемый дизайн и широкий ассортимент: от одежды и аксессуаров до полезных мелочей для офиса и дома.</p>
          </div>
        </div>

        <div class="col-lg-4"
        style=" padding-top: 12px; padding-bottom: 12px;">
          <div class="pricing-item-pro">
            <span class="price">800 G</span>
            <h4>“название мерча”</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <p>описание</p>
              <!-- <li>1 приемущества</li>
              <li>2 время прохождения</li> -->
              <li>3 ...</li>
            </ul>
            <div class="border-button">
              <a href="#">Приобрести</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4"
        style=" padding-top: 12px; padding-bottom: 12px;">
          <div class="pricing-item-pro">
            <span class="price">1100 G</span>
            <h4>“название мерча”</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <p>описание</p>
              <!-- <li>1 приемущества</li>
              <li>2 время прохождения</li> -->
              <li>3 ...</li>
            </ul>
            <div class="border-button">
              <a href="#">Приобрести</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4"
        style=" padding-top: 12px; padding-bottom: 12px;">
          <div class="pricing-item-pro">
            <span class="price">1500 G</span>
            <h4>“название мерча”</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <p>описание</p>
              <!-- <li>1 приемущества</li>
              <li>2 время прохождения</li> -->
              <li>3 ...</li>
            </ul>
            <div class="border-button">
              <a href="#">Приобрести</a>
            </div>
          </div>
        </div>

        
        <div class="col-lg-4"
        style=" padding-top: 12px; padding-bottom: 12px;">
          <div class="pricing-item-pro">
            <span class="price">1800 G</span>
            <h4>“название мерча”</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <p>описание</p>
              <!-- <li>1 приемущества</li>
              <li>2 время прохождения</li> -->
              <li>3 ...</li>
            </ul>
            <div class="border-button">
              <a href="#">Приобрести</a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>спец.предложение</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
            <p>Спецпредложения открывают двери к карьерному росту! Используй Goal-коины, чтобы получить ускоренный трек развития, стажировку в интересных отделах или доступ к эксклюзивным мастер-классам. Инвестируй в свое будущее и поднимайся по карьерной лестнице быстрее!</p>
          </div>
        </div>

        <div class="col-lg-4"
        style=" padding-top: 12px; padding-bottom: 12px;">
          <div class="pricing-item-pro">
            <span class="price">5000 G</span>
            <h4>“спец.предложение”</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <p>описание</p>
              <!-- <li>1 приемущества</li>
              <li>2 время прохождения</li> -->
              <li>3 ...</li>
            </ul>
            <div class="border-button">
              <a href="#">Приобрести</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4"
        style=" padding-top: 12px; padding-bottom: 12px;">
          <div class="pricing-item-pro">
            <span class="price">2800 G</span>
            <h4>“спец.предложение”</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <p>описание</p>
              <!-- <li>1 приемущества</li>
              <li>2 время прохождения</li> -->
              <li>3 ...</li>
            </ul>
            <div class="border-button">
              <a href="#">Приобрести</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4"
        style=" padding-top: 12px; padding-bottom: 12px;">
          <div class="pricing-item-pro">
            <span class="price">3000 G</span>
            <h4>“спец.предложение”</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <p>описание</p>
              <!-- <li>1 приемущества</li>
              <li>2 время прохождения</li> -->
              <li>3 ...</li>
            </ul>
            <div class="border-button">
              <a href="#">Приобрести</a>
            </div>
          </div>
        </div>

        
        <div class="col-lg-4"
        style=" padding-top: 12px; padding-bottom: 12px;">
          <div class="pricing-item-pro">
            <span class="price">4500 G</span>
            <h4>“спец.предложение”</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <p>описание</p>
              <!-- <li>1 приемущества</li>
              <li>2 время прохождения</li> -->
              <li>3 ...</li>
            </ul>
            <div class="border-button">
              <a href="#">Приобрести</a>
            </div>
          </div>
        </div>

        
        </div>
      </div>
    </div>
  </div> 

  <footer id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Новости!</h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <form id="search" action="#" method="GET">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <input type="address" name="address" class="email" placeholder="Email..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <button type="submit" class="main-button">Подписаться <i class="fa fa-angle-right"></i></button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Полезные ссылки</h4>
            <ul>
              <li><a href="#">ТГ-канал «GOAL»</a></li>
              <li><a href="#">Противодействие мошенничеству</a></li>
              <li><a href="#">Вакансии</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Социальные сети</h4>
            <ul>
              <!-- <li><a href="#">Free Apps</a></li>
              <li><a href="#">App Engine</a></li>
              <li><a href="#">Programming</a></li>
              <li><a href="#">Development</a></li>
              <li><a href="#">App News</a></li> -->
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Контакты</h4>
            <p><a href="#">+ 8 (800) 700-31-52</a>
            <p><a href="#">Обратная связь</a></p>
            <p><a href="#">Все контакты</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>О нашей компании</h4>
            <p><a href="#">Кейсы</a></p>
            <p><a href="#">Голкоины</a></p>
            <p><a href="#">Услуги</a></p>
          </div>
        </div>
      </div>
        </div> 
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © 2025 GOAL. Все права защищены.</p>
          </div>
        </div>
  </footer>


  <!-- Scripts -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/animation.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/popup.js"></script>
  <script src="assets/js/custom.js"></script>
</body>
</html>